

#output{
  height: 45px;
  background-color: black;
  color: aqua;
  width: 100%;
  font-size: 2em;
  padding: 5px;
  text-align: right;
  overflow: hidden;
}

#mycalcu{
  width: 350px;
  background-color: dimgray;
  height: 300px;
  padding-top: 10px;
}

.cbutton{
  font-size: 2em;
  width: 45px;
  margin: 4px;
  padding: 4px;
}

#numbers{
  padding-top: 5px;
}
